	<div id="home_highlight">
    
    </div>
	<div class="ad_space" id="home_middle_ad"><h1>AD SPACE</h1><!-- Needs a simple mgmt system--></div>
	
    <div id="home_bottom_right_ad" class="right"><div class="ad_space"><h1>AD SPACE</h1></div></div>

	<div id="home_recent" class="right">
    	<img src="images/recent_activity.png" alt="Recent Activity" />
        <ul id="home_recent_list">
        	<li>
            	<div class="right recent_update"><span class="orange bold">Name 1</span> Some update that needs to be made</div>
            	<div class="left user_avatar"><img src="images/user_avatar.png" alt="User Name" /></div>
                <div class="clear"></div>
            </li>
            <li>
            	<div class="right recent_update"><span class="orange bold">Name 1</span> Some update that is different than the last</div>
            	<div class="left user_avatar"><img src="images/user_avatar.png" alt="User Name" /></div>
                <div class="clear"></div>
            </li>
            <li>
            	<div class="right recent_update"><span class="orange bold">Name 1</span> Some update that is still different that the last few </div>
            	<div class="left user_avatar"><img src="images/user_avatar.png" alt="User Name" /></div>
                <div class="clear"></div>
            </li>
        </ul>
    </div><!-- End Recent -->

	<div id="home_intro" class="left">
    	<p>This is some intro and about text.  The goal here is to introduce the concept of Track My Hunt.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a sodales mi. Duis lacus risus, condimentum at ornare sed, interdum in neque. Duis metus justo, sodales sit amet tristique sed, iaculis eu lacus. Nunc at arcu vel erat malesuada lacinia. Maecenas a eros nec justo euismod ornare id id ante. Phasellus dapibus sollicitudin ligula, at ornare neque egestas vitae. Aenean consectetur congue luctus. </p>
        <img src="images/get_the_app_home.png" alt="Get the App" />
    </div>
    
  
    <div class="clear"></div>